//Footer Menu ------------------------------------------------

.footermenu {
	.title {
		float: left;
	}
	ul {
		float: left;
		li {
			display: inline-block;
			margin-left: 5px;
			img {
				width: 30px;
				@include border-radius(50%);
			}
		}
	}
}